/* Основные стили для всего документа */
body {
    font-family: 'Arial', sans-serif; /* Устанавливаем шрифт Arial с запасным шрифтом sans-serif */
    line-height: 1.6; /* Увеличиваем межстрочный интервал для лучшей читаемости */
    margin: 0; /* Убираем отступы по умолчанию */
    display: flex; /* Используем flexbox для расположения элементов */
    flex-direction: column; /* Располагаем элементы в колонку */
    min-height: 100vh; /* Минимальная высота - 100% высоты окна браузера */
}

/* Стили для заголовка */
header {
    background-color: #8fa09b; /* Цвет фона заголовка */
    color: #fff; /* Цвет текста заголовка */
    padding: 1rem 0; /* Внутренние отступы сверху и снизу */
    text-align: center; /* Центрируем текст */
}

/* Стили для заголовков */
h1, h2 {
    margin-bottom: 0.5rem; /* Отступ снизу для заголовков */
    text-align: center;
}

/* Основной контейнер для контента */
main {
    display: flex; /* Используем flexbox для расположения дочерних элементов */
    flex-grow: 1; /* Позволяем основному контейнеру занимать доступное пространство */
}

/* Стили для боковой панели */
aside.sidebar {
    background-color: #f0f0f0; /* Цвет фона боковой панели */
    width: 200px; /* Ширина боковой панели */
    padding: 1rem; /* Внутренние отступы */
    box-sizing: border-box; /* Учитываем отступы и границы в ширине */
    position: relative; /* Для абсолютного позиционирования кнопки внутри */
}

/* Стили для основного контента */
section.content {
    padding: 1rem; /* Внутренние отступы для контента */
    flex-grow: 1; /* Позволяем контенту занимать оставшееся пространство */
}

/* Стили для нижнего колонтитула */
footer {
    background-color: #8fa09b; /* Цвет фона нижнего колонтитула */
    color: #fff; /* Цвет текста нижнего колонтитула */
    padding: 1rem 0; /* Внутренние отступы сверху и снизу */
    text-align: left; /* Выравнивание текста влево */
    padding-left: 30px; /* Добавляем небольшой отступ слева */
}

/* Адаптивный дизайн для небольших экранов */
@media (max-width: 768px) {
    main {
        flex-direction: column; /* Изменяем направление flex-контейнера на колонку для мобильных устройств */
    }
    aside.sidebar {
        width: 100%; /* Устанавливаем ширину боковой панели на 100% */
        margin-bottom: 1rem; /* Добавляем отступ снизу для разделения с контентом */
    }
}

/* Стили для ссылок */
a {
    color: #333; /* Цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}
nav {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline; /* Подчеркивание при наведении на ссылку */
}

.normal-weight {
    font-weight: normal; /* Убираем жирный шрифт */
}


/* Стили для списков */
ul {
    list-style: none; /* Убираем маркеры у списков */
    padding: 0; /* Убираем внутренние отступы */
}

li {
    margin-bottom: 1.5rem; /* Отступ снизу для элементов списка */
}


/* Стили для кнопки "Наверх" */
.scroll-to-top {
    position: fixed; /* Фиксированное положение */
    bottom: 130px; /* Отступ от нижней границы */
    left: 20px; /* Отступ от правой границы */
    background-color: #316c54; /* Цвет фона */
    color: white; /* Цвет текста */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Скругление углов */
    padding: 10px 15px; /* Отступы внутри кнопки */
    font-size: 15px; /* Размер шрифта */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Плавный переход */
}

.scroll-to-top:hover {
    background-color: #c89a1e; /* Цвет фона при наведении */
    transform: scale(1.05); /* Увеличение кнопки при наведении */
}

.scroll-to-top:focus {
    outline: none; /* Убираем обводку при фокусе */
}
/* Стили для абзаца с историей компании */
.special-paragraph {
    font-size: 2em; /* Увеличенный размер шрифта */
    font-family: 'Times New Roman', serif; /* Или другой подходящий шрифт */
    line-height: 1.6; /* Расстояние между строками */
    color: #333; /* Темно-серый цвет текста */
    text-align: center; /* Выравнивание по центру */
    margin-top: 2em; /* Отступ сверху */
    margin-bottom: 2em; /* Отступ снизу */
    padding: 1em 2em; /* Внутренние отступы */
    background-color: #ffffff; /* Светло-серый фон */
    border-radius: 5px; /* Скругленные углы */
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.1); /* Тень */
  }
  .gallery {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.gallery img {
    width: 150px; /* Размер превью */
    height: auto;
    transition: 0.3s; /* Плавный переход */
}

